.unsuccess{text-align:center;font-size:11px; color: #ff0000;padding:0;margin:0;display:block}
.login_form_wrap .unsuccess{background-color: #fff1f1;font-size:11px;border: solid 1px #df5353;color: #bd3b3b;padding: 5px;border-radius: 3px;max-width: 100%;margin: 0px auto 5px;display: block;}
.success{text-align:center; font-size:11px; color: #28a40a;padding:0;margin:0;display:block}
.err_icon{font-size:13px;display:inline-block;margin-right:10px;position: relative;top: 2px; }
.chatsel{font-size: 12px;text-align:left;}
.saving-sec{display:none;}
.saved-sec{display:block;}


/** Test This Chatbot Model CSS */

.chatbox {
  background-color: #fff;
  bottom: 0;
  display: flex;
  flex-direction: column;
  height: auto;
  position: fixed;
  right: 1%;
  top: 27%;
  transition: all 600ms cubic-bezier(0.19, 1, 0.22, 1) 0s;
  width: 375px;
  z-index: 999;
}

.chatbox_header,
.chatbox_body {
    border-bottom: none;
}

.chatbox_header {
    min-height: 50px;
    padding-right: 10px;
    background-color: #1D214F;/*#1f2836;*/
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    /*cursor: pointer;*/
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
}

.chatbox_header h5 {
    height: 50px;
    margin: 0 0 0 15px;
    line-height: 50px;
    position: relative;
    padding-left: 20px;

    -webkit-flex-grow: 1;
    flex-grow: 1;
    cursor: default;
}

.chatbox_header h5 a {
    color: #fff;
    max-width: 195px;
    display: inline-block;
    text-decoration: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: default;
}

.chatbox_header h5:before {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    width: 12px;
    height: 12px;
    background: #4CAF50;
    border-radius: 6px;

    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.chatbox_header_hide,
.chatbox_header_close {
    width: 24px;
    height: 24px;
    outline: 0;
    border: none;
    background-color: transparent;
    opacity: 0.5;
    cursor: pointer;

    -webkit-transition: opacity 200ms;
    transition: opacity 200ms;
}

.chatbox_header_hide:hover,
.chatbox_header_close:hover {
    opacity: 1;
}

.chatbox_header_hide span {
    width: 12px;
    height: 12px;
    display: inline-block;
    border-bottom: 2px solid #fff
}

.chatbox_header_close svg {
    vertical-align: middle;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 1.2px;
}

.chatbox_body {
    padding: 15px;
    border-top: 0;
    background-color: #FFFFFF;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    -webkit-flex-grow: 1;
    flex-grow: 1;
    overflow-y: auto;
}

.chatbox_message_input {
  padding: 15px 50px 15px 15px;
  min-height: 50px;
  height: 50px;
  max-height: 100px;
  overflow: auto;
  outline: 0;
  resize: none;
  border: none;
  font-size: 13px;
  border: 1px solid #ddd;
  border-bottom: none;
  background-color: #fefefe;
  box-sizing: border-box;
  resize: none;
}
.temp_bot_footer .chatbox_message_input{max-height:50px; padding: 16px 50px 15px 15px;}
.chatbox_message_input:focus {
  border-color: #dddddd !important;
}

.verify_chat_panel .chat_box {
  border: none;
}
.verify_chat_panel .textBtn a, .textBtn1 a {
  float: left;
}
.verify_chat_panel .chat_box_inner_panel {overflow: hidden;}
.temp_bot_modal_chat .chat_box_inner_panel {margin:0;}
.verify_chat_panel .chat_boxmsgs {
  padding-bottom: 10px;
}
.verify_chat_panel .senderMsg {
  float: left;
}
.verify_chat_panel .receiverMsg {
  float: right;
}
.verify_chat_panel .wrapper {
  float: left;
  padding-left: 3%;
}
.verify_chat_panel .senderMsg_Btn {
  width: 100%;
}
.verify_chat_panel a.mb-scrollButtons.mb-left {
  left: -25px;
  z-index: 999;
}
.verify_chat_panel a.mb-scrollButtons.mb-right {
  right: -15px;
  z-index: 999;
}
.chat_hidden {
  visibility: hidden;
}
.chatbox_minimize {
    bottom: 1%;
    top: auto;
    height: 6%;
}
.chatbox.verify_chat_bot_tray {
  box-shadow: 4px 5px 5px 2px #8d8d8d;
}

.verify_chat_panel .receiverMsg .textMsg {
  background-color: #0099ff;
  color: #FFFFFF;
}
.verify_chat_panel .senderMsg .textMsg {
  background-color: #e9e9e9;
  color: #6e6e6e;
}
.verify_chat_panel .receiverMsg, .verify_chat_panel .senderMsg {
  margin-top: 10px;
}
.verify_chat_panel .senderMsg_Btn:last-child{
  /*border-bottom: 1px solid #E9E9E9;*/
  border-bottom-left-radius: 5px; 
  border-bottom-right-radius: 5px;
}
.verify_chat_panel .textBtn1:last-child a {
  border-bottom: 1px solid #E9E9E9 !important;
  border-bottom-left-radius: 5px; 
  border-bottom-right-radius: 5px;
}
.get_started_button {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background: #ffffff none repeat scroll 0 0;
  border-color: #dddddd #ddd currentcolor;
  border-image: none;
  border-style: solid solid none;
  border-width: 1px 1px medium;
  color: #3b5998;
  padding: 2%;
  cursor: pointer;
   height: 50px;
}
.chat_boxmsgs{overflow-x:hidden ! important;}
.get_started_button:focus {
  background-color: #ffffff;
}
.verify_chat_bot_tray .chat_loader {
  /*background-image: url("../images/typing.gif");*/
  background-image: url("../images/delay.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #fff;
  bottom: 11%;
  height: 35px;
  left: 2%;
  position: absolute;
  width: 35px;
}
.verify_chat_panel .arrow:after {
  content: '';
}
.process_block {
  outline: 0;
}
/*.edit_website_name {
  display: none;
}*/
.int_btns_wrap {
  text-align: right;
}
.upload_widget_logo, .widget_logo_default {
  cursor: pointer;
  /*border-style: dashed;*/
}
.widget_list_image {
  float: left;
  margin-right: 5px;
  width: 50px;
}
.widget_list_image img.widget_logo {
  height: 45px;
}

 .template_bot_dashboard .chat_loader {
  /*background-image: url("../images/typing.gif");*/
  background-image: url("../images/delay.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #fff;
   bottom: 4%;
  height: 35px;
  left: 2%;
  position: absolute;
  width: 35px;
}
.chat_boxmsgs .quick_reply_btn {
  color: #2f8fff;
}
.QuickReply_Btn {
  padding: 0;
  overflow: auto;
  float: left;
  width: 100%;
  margin: 7% 0 0;
}
.QuickReply_Btn .dyn_quick_reply_list_links {
  display: flex;
  overflow: auto;
  margin-top: -100px;
  padding-top: 100px;
  position: relative;
  width: 100%;
}
.QuickReply_Btn .quick_reply_btn {
  padding: 6px 15px;
  border: 1px solid #2f8fff;
  white-space: nowrap;
}
.quick_link_navigate.left_nav, .quick_link_navigate.right_nav {
  float: left;
}
.quick_nav_left, .quick_nav_right {
  width: 40px;
  height: 40px;
}

/* Image Crop */
.image_crop_model {
  min-height: 400px;
  max-height: 80%;
}
.image_crop_model .modal-content>h4{margin-left:10px;}
#crop_area {
  margin-left: 0;
  min-height: 60%;
}
#crop_image_preview {
  height: 310px;
  margin-top: 2%;
  overflow: auto;
  margin-left:10px;
}
.delete_image {
  background-color: rgba(0, 0, 0, 0.35);
  bottom: -1px;
  color: white;
  cursor: pointer;
  margin-bottom: 0;
  padding: 7px 0;
  position: absolute;
  text-align: center;
  width: 100%;
}
.colpick_dark {
  background: #1d364b;
  border-color: #1d364b;
}
.hide {
  display: none;
}
.int_acc_title {
  outline: 0;
}
.visible_hide {
    visibility: hidden;
}
.bot_loader {
  margin: 0;
  padding: 0;
  margin-left: 2%;
}
.widget_actions {
  text-align: center;
}
.int_genlinkWrap {
  display: block;
}
.preview_sec_wrap {
  position: fixed;
  right: 25px;
  width: 22%;
  bottom: 5px;
}
.preview_ctnt {
  padding: 0px 20px 20px 20px;
}
.preview_header {
  padding: 10px 15px 10px 15px;
}
.widget_list {
  float: left;
  width: 100%;
  height: auto;
  overflow: hidden;
}
.sender_msg, .receiver_msg {
  border-radius: 5px;
}
.website_widget_form .int_upload_icon {
  padding: 10px 5px;
}
.sweet-alert * {
  font-weight: 300 !important;
}
.mCustomScrollbar {
  overflow-x:hidden !important;
}

/* Test This Chatbot */
.verify_chat_bot_tray .gallery_Msgsec{background:#fff;border:1px solid #ededed;border-radius:5px;float:left; margin: 10px 0 0;/*min-height:315px;*/width: 250px;}
.verify_chat_bot_tray .total_chatsec{width:250px;}
.verify_chat_bot_tray .gall_Msg{border-bottom:1px solid #ededed;}
.verify_chat_bot_tray .gall_cnt{padding:0 15px;}
.verify_chat_bot_tray .gall_cnttitle{font-size: 14px;color: #2d2d2d;margin-top: 10px;}
.verify_chat_bot_tray .gall_cntdesc,.gall_cnturl{font-size: 12px; color: #2d2d2d;}
.verify_chat_bot_tray .gallery_btn a{text-decoration:none;border-left:0;border-bottom:0;border-right:0}
.verify_chat_bot_tray .gall_Msg{border-bottom:1px solid #ededed;}
.verify_chat_bot_tray .gall_Msg div {border-top-left-radius: 5px; border-top-right-radius: 5px;}
/*.verify_chat_bot_tray .generic_template ul li .gallery_Msgsec{float: none}*/
.chatbox_body .textBtn a, .chatbox_body .textBtn1 a {
  float: left;
  text-align: center;
  width: 100%;
  text-decoration: none;
  border-bottom-right-radius: unset;
}
.verify_chat_bot_tray .generic_template ul li {
  list-style-type: none;
}
.verify_chat_bot_tray .slider_nav {
  cursor: pointer;
}
.verify_chat_bot_tray .slider_nav[disabled] {
  visibility: hidden;
}
.verify_chat_bot_tray .nav_left {
  left: -30px;
  margin-top: 130px;
  position: absolute;
  width: 50px;
  z-index: 999;
}
.verify_chat_bot_tray .nav_right {
  position: absolute;
  right: 40px;
  top: 130px;
  width: 50px;
  z-index: 999;
}
.temp_bot_modal_chat .verify_chat_bot_tray .nav_right{right:-24px ! important;}
.verify_chat_bot_tray .generic_template {
  float: left;
 /* width: 100%;*/
 width:250px;
  margin-left: 5%;
  clear: both;
}
.Wallop-list {
  float: left;
  margin: 0;
  padding: 0;
}
.verify_chat_bot_tray .Wallop-list{width:100%;}
.open_chat_box {
  /*box-shadow: none !important;*/
}
.verify_chat_bot_tray .gall_cnt {
  height: 120px;
}
.verify_chat_bot_tray .chatbox_header_close:focus {
  background: none !important;
}
.preview_box_close .icon_close {
  float: left;
  margin-left: 11px;
  margin-top: 16px;
  cursor: default;
}
.preview_box_close a {
  cursor: default; 
}
.preview_box .int_img_preview {
 margin-right: 10px;
 border-radius: 5px;
}
.preview_box .int_img_preview img {
    border-radius: 5px;
}
.preview_box .preview_title, .preview_box .preview_subtitle {
  max-width: 205px;
  overflow: hidden;
  word-wrap: normal;
  text-overflow: ellipsis;
  min-height: 20px;
}
.preview_box .preview_title h3 {
  font-weight: 400;
  min-height: 15px;
}
.widget_list a.generate_link, .widget_list .generate_txt {
  font-size: 13px;
  font-weight: 400;
}
.widget_list a.view_app_key{color: #F7751F;font-size:13px;margin-top:5px;}
.generate_key_txt, .after_gen_key_info {margin: 0;}
.after_gen_key_info { display: none;}

.widget_list .after_gen_info {
  font-weight: 400;
}
.int_sub_head {
  font-size: 13px;
  width: 90%;
}
.int_sub_head div {
  margin-top: 10px;
  font-weight: 400;
}
.website_widget_panel .int_info {
  height: 190px;
}
span.note_list {
  float: left;
  width: 60%;
  text-align: left;
  margin-left: 25%;
}
.int_info .bullet {
  float: left;
  width: 100%;
  margin-top: 3%;
}
span.orange_badge {
  background: #F7751F;
  padding: 3px 7px;
  border-radius: 50%;
  color: #ffffff;
  width: 20px;
}
.global_loader {
  font-size: 50px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999999;
  width:100%;
  height:100%;
  text-align:center;
  background:rgba(255,255,255,0.5);
}
.global_loader .iconLoad{
  font-size: 50px;
  position: relative;
  top: 50%;
  left: 0;
  z-index: 999999;
}
.material-tooltip {
  max-width: 250px !important;
}
/** Test This Chatbot Model CSS */

/** Growth Tool Start */
.secondsec_widget {
  float: left;
  width: 100%;
}
.ref_widget {
  width: 48%;
  float: left;
}
.embedded_widget {
  width: 48%;
  float: right;
    clear: none;
    margin-top: 10px;
}
#growthimage {
  background-size: 100% 100% !important;
  border: 1px dashed !important;
}
.img_placement .select2-container--default .select2-selection--single .select2-selection__arrow b {
    margin-left: 0px !important;
}
#imageplacementdiv {
  width: 40% !important;
}
.img_placement .select2-container {
  border-bottom: 1px solid #c2c2c2;
  padding-bottom: 5px;
}
#headline_text, #description {
  font-size: 14px;
  box-shadow: none;
  width: 95%;
}
.growth_input_panel {
  margin-top: 2%;
}
.bg_padd {
  margin-top: -7px;
}
.btn_bgSel {
  font-weight: 400;
}
#backgroundcolordiv {
  height: 30px;
  margin-top: 5%;
  width: 35%;
}
#backgroundcolordiv .select2-container {
  border-bottom: 1px solid #c2c2c2;
  padding-bottom: 5px;
}
#displaytypediv, #showagaindiv {
  border-bottom: none;
}
#displaytypediv .select2-container, #showagaindiv .select2-container {
  border-bottom: 1px solid #c2c2c2;
  padding-bottom: 5px;
}
#select2-when_display_type-container, #select2-show_widget_same_user-container {
  font-weight: 400;
}
.delay_time {
  font-weight: 400;
  font-size: 14px;
}
#when_display_time {
  margin-top: -1px !important;
  width: 40px;
}
#show_again_if_closed {
  margin-top: -1px !important;
  width: 40px;  
}
.colorPicker_wrap {
  margin-top: 3px;
}
#opt_in_message {
  height: 30px;
}
.bot_replies_type {
  font-size: 14px;
}
.growth_bot_replies_label label {
  font-size: 14px;
  font-weight: 500;
}
.fstResults {
  max-height: 150px;
  overflow-y: auto;
  overflow-x: hidden;
}
#select2-opt_in_type-container {
  font-size: 14px;
}
.after_gen_info, .bot_cnt {
  font-weight: 400;
}
/*label#growthimage:hover {
  opacity: 0.5;
}*/
.image_overlay_wrap{height: 177px;width: 100%; position: absolute;top:0;left:0;display: none}
.image_overlay {
  height: 177px;
  width: 100%;
  position: absolute;
  background: #000000;
  top: 0%;
  left: 0%;
  border-radius: 7px;
  opacity: 0.6;
  overflow: hidden;
  border: none;
}
.card_image_overlay_wrap{height: 200px;width: 290px;}
.card_image_overlay {
  height: 200px;
  width: 290px;
  position: absolute;
  background: #000000;
  top: 0;
  left: 0;
  border-radius: 7px;
  opacity: 0.6;
  overflow: hidden;
  border: none;
}
.gallery_image_overlay_wrap{height: 150px;width: 260px;margin: 10px 14px;}
.gallery_image_overlay {
  height: 150px;
  width: 260px;
  position: absolute;
  background: #000000;
  top: 0;
  left: 0;
  border-radius: 7px;
  opacity: 0.6;
  overflow: hidden;
  border: none;
}
.upload_growth_widget_image {
      display: none;
    padding: 6px;
    padding-left: 16px;
}
label.upload_label.drop_label {
  width: auto;
}
.growth_upload_section {
  width: 41% !important;
}
#growthimageplacement {
  display: block;
  float: right;
  width: 50%;
  margin-top: -25px;
}
.img_del {
  top: -20px;
  right: -5%;
}
.image_overlay_wrap .image_overlay_options div {
  color: #FFFFFF;
  margin-top: 34px;
  float: left;
  width: 100%;
  text-align: center;
}
.card_image_overlay_wrap .image_overlay_options div {
  margin-top: 40px;
}
.gallery_image_overlay_wrap  .image_overlay_options div {
  color: #FFFFFF;
  margin-top: 20px;
  float: left;
  width: 100%;
  text-align: center;
}
.image_overlay_wrap .text {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  float: left;
  width: 100%;
  text-align: center;
}
.image_overlay_wrap .icon {
  font-size: 22px;
}
.img_del {
  display: none;
}

.image_overlay_options{position: absolute;top: 0;left: 0;height: 100%;width: 100%;z-index: 1;}

/** Growth Tool End */
.user_form_help_image img {
  max-width: 85%;
}
.widget_form_preview {
  text-align: center;
  width: 30%;
  height: 400px;
  overflow: hidden;
}
.preview_sec_head {
  top: -5px;
  font-weight: 400;
  font-size: 13px;
}
.preview_box_close {
  text-align: right;
  width: 100%;
  height: 52px;
  margin-top: 4%;
}
.preview_box_close a {
  margin-top: 0;
}
.preview_box {
  margin-top: 25px;
}
.widget_name_div:focus, .widget_name_div:active {
  border-bottom: 1px solid #000;
  padding-bottom: 5px;
}
.widget_logo {
  cursor: pointer;
  border-radius: 5px;
}
.colpick input {
  background: #FFFFFF;
  text-transform: uppercase;
  border: none !important;
  padding: 0 10px;
  font-size: 12px;
}
.colpick input:focus, .colpick input:active {
  border: none !important;
}
.colpick_field, .colpick_hex_field {
  background: #FFFFFF !important;
}
.colpick_new_color {
  height: 25px;
  width: 70px !important;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
}
.colpick_hex {
  width: 206px;
  height: 201px;
  margin-left: 100%;
  margin-top: 50%;
  z-index: 99;
}
.image_overlay_options div:hover {
  color:#F7751F;
}
#user_menu {
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.2);
    padding: 1px 0 8px;
     background: #fff;
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.2);
    position: absolute;
    width: 100%;
    padding: 5px 5px 10px;
    border-radius: 2px;
    right: 0;
    font-size: 15px;
    font-weight: 400;
    text-align: center;
    top: 40px;
    max-width: 130px;
    min-width: 110px;
}
.user-menu-item {
  min-height: 0 !important;
  margin-top: 7px;
 text-align: left;
 padding: 4px 10px;min-width:100px;

}
.user-menu-item:hover {
  /*background-color: #fff !important;*/
}
#user_menu .user-menu-item:hover {
 background-color: #fff ! important;
}
li.user-menu-item a, li.user-menu-item a:hover, li.user-menu-item a:focus {
  color: #000;
  padding: 0;
  font-size: 14px;
  line-height: normal;
  display: block;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;
}
li.user-menu-item a:hover{color:#F7751F;}
.widget_close_button, .widget_close_button:hover {
  /*margin: 3px;*/
}
.user_menu_trigger {
  outline: 0;
}
.senderMsg .textMsg, .receiverMsg .textMsg {
  font-size: 13px;
  font-weight: 400;
}

/*Settings Page */
.bot_settings_wrap .intCtnt_head {
  text-transform: capitalize;
}
.settings_panel {
  min-height: 400px;
  padding: 20px 10px;
  border-radius: 3px;
  font-size: 12px;
  color: #616161;
  margin-top: 25px;
  margin-bottom: 50px;
  width: 90%;
  box-shadow: 0 1px 3px rgba(0,0,0,0.05);
  background: #fff;
  border: 1px solid #E5E5E5;
  position: relative;
  height: auto ! important;
}
.settings_panel .int_info1{padding:0 20px;}
.settings_panel .delay_settings_panel:after{clear: both;content: '';display: block;}
.settings_panel .delay_settings_panel{position: absolute;width: 100%;left:0;bottom: 0;}

.persistent_menu_panel, .persistent_sub_menu_panel{
  display: inline-block;
  vertical-align: top;
  position: relative;
  width: 45%;
  min-height: 180px;
  background-color: #FCFCFC;
  border: 1px solid #E9E9E9;
  border-top: 2px solid #E9E9E9;
  border-radius: 8px;
  margin-top: 3%;
}
.default_send_message, .menu_item {
  height: 60px;
  padding: 20px 15px 0;
}
.default_text, .menu_item {
  color: #b5b4b4;
  font-size: 15px;
  font-weight: 300; 
}
.help_text a {
  text-align: right;
  font-weight: 300;
}
.menu_line {
  content: "";
  position: absolute;
  width: 45px;
  height: 5px;
  background-color: #e1e1e2;
  border-radius: 3px;
  left: 170px;
  top: 10px;
  z-index: 8;
}
.menu_item {
  width: 100%;
  margin-top: -1%;
  background: none;
  border: none;
  text-align: left;
  cursor: pointer;
  /*float: left;*/
}
.menu_item:disabled > span{
  color: #b5b4b4;
}
.menu_item:focus {
  background: none;
}
.menu_item span {
  color: #616161;
  /*min-height: 23px;
  float: left;*/
}
.plus {
  font-size: 20px;
  font-style: normal;
  margin-right: 2%;
}
.menu_item_list:after {
  content: "";
  position: relative;
  height: 1px;
  width: 100%;
  background-color: #E9E9E9;
  float: left;  
}
.persistent_menu_item, .persistent_sub_menu_item {
  display: inline;
}
.powered_by:after {
  display: none;
}
.menu_action_btn, .menu_action_btn:hover, .menu_action_btn:focus {
  padding: 7px 15px;
  margin: 0 0 0 10px;
  line-height: normal;
  min-height: 0;
  height: auto;
  min-width: 0;
}
.persistent_menu_item .tooltiptab.tabs .tab, .persistent_sub_menu_item .tooltiptab.tabs .tab {
  text-transform: uppercase;
}
.submenu_action {
  height: 20px;
  margin: 10px 0;
}
.menu_name {
  margin-bottom: 5%;
}
.menu_name_text {
  float: left;
  width: 65%;
  height: 35px;
  display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.menu_content {
  display: none;
}
.menu_item_list {
  position: relative;
}
.delete_menu {
  position: absolute;
  right: 5px;
  top: 16px;
  color: #727272;
  display: none; 
  font-size: 18px;
}
.settings_bot_detail {
  width: 100%;
  margin-bottom: 5%;
  margin-top: 4%;
}
.settings_page_title {
  font-size: 13px;
  margin-top: 2%;
  color: #787878;
}
.settings_bot_name h3 {
  font-size: 15px;
  margin: 0;
  margin-top: 3%;
  margin-left:10px;
  word-break: break-all;
}
.url_action .input-field {
  margin: 0;
}
span.view_submenu {
  float: right;
  margin-right: 10%;
  font-size: 13px;
  margin-top: 1%;
  font-weight: 300;
  color: #A6A69A;
}
.view_submenu:hover {
  color: #F7751F;
}
.symbol {
  font-size: 12px;
  font-style: normal;
  margin-top: 4%;
  float: right;
  padding: 0 2px 0px 5px;
  font-weight: bold;
}

.persistent_sub_menu_panel {
  margin-left: 4.6%;
  min-height: 125px;
}
.parent_menu_name {
  float: left;
  width: 100%;
  font-size: 15px;
  text-align: center;
  margin-top: 8%;
  /*margin-left: 14%;*/
}
.symbol_left {
  display: none;
}
.persistent_sub_menu_item .menu_item_list {
  float: left;
  width: 100%;
}
.persistent_sub_menu_item  {
  margin-top: 10px;
  float: left;
  width: 100%;
  margin-bottom: 0;
}
.add_new_sub_menu {
  height: 53px;
  padding: 0px 10px;
  margin-top: 3px;
}
.parent_menu_name:after {
  content: "";
  position: absolute;
  height: 1px;
  width: 100%;
  background-color: #E9E9E9;
  float: left;
  left: 0;
  top: 63px;
}
.default_send_message {
  margin-top: 1%;
  border-bottom: 1px solid #E9E9E9;
}
.add_new_menu {
  border-bottom: 1px solid #E9E9E9;
  padding: 10px;
}
.remove_after:after {
  content: none;
}
.persistent_menu_info {
  font-size: 13px;
  float: left;
  width: 100%;
}
.persistent_menu_info .icon {
  font-size: 13px;
  font-weight: 500;
  vertical-align: middle;
}
.persistent_menu_info>span{max-width: calc(100% - 200px);display: inline-block;}
.sync_facebook, .sync_facebook:hover, .sync_facebook:focus, .sync_facebook:active {
  float: right;
  margin: 0;
  margin-right: 5%;
  margin-top: 0;
}
.settings_right_menu .keyword_list_title, .settings_right_menu .settings_menu {
  float: left;
  width: 100%
}
.settings_right_menu .keyword_list_title {
  margin-top: 5%;
}
.delay_setting_slider {
  margin-top: 5%;
  margin-left: 5%;
  width: 60%;
  text-align: center;
  float: left;
}
.delay_slider:focus {
  border-bottom: 0px !important;
}
.rangeslider__fill {
  background: #F7751F;
}
.rangeslider--horizontal {
  height: 5px;
  box-shadow: none;
  margin-top: 5%;
}
.rangeslider__handle {
  width: 20px;
  height: 20px;
  background: #F7751F;
  border: 1px solid #F7751F;
  margin-top: 2px;
}
.delay_count {
  /*margin-top: 2%;*/
  font-size: 18px;
  text-align: center;
  font-weight: 300;
}
.update_delay_duration, .update_delay_duration:focus, .update_delay_duration:hover {
  margin-top: 10%;
}
.delay_image {
  vertical-align: middle;
  position: absolute;
  bottom: 210px;
  left: 75px;
  height: 28px;
}
.delay_txt {
  font-size: 13px;
}
#toast-container {
  top:160px;
  right:0;
/*  left:15px;
  bottom:40%;*/
}
.toast {
  background: #58b55c none repeat scroll 0 0;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
}
.toast.train_fail {
  background: #ef6969 none repeat scroll 0 0;
}
.settings_bot_detail:after {
  content: "";
  position: absolute;
  height: 1px;
  width: 100%;
  background-color: #E9E9E9;
  margin-top: 15px;
  left: -7px;
}
.settings_panel .add_menu_layer {
  left: 190px;
}
.sub_menu_help {
  width: 45%;
  float: right;
  position: relative;
  height: 188px;
  margin-right: 5%;
  margin-top: 3%;
  background-color: #FCFCFC;
  border: 1px solid #E9E9E9;
  border-top: 2px solid #E9E9E9;
  border-radius: 8px;
  border-bottom: 2px solid #E9E9E9;
}
.sub_help_image {
  background-image: url("../images/sub_menu.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  height: 110px;
  margin-top: 15%;
}
.sub_help_text {
  margin-top: 5%;
  float: left;
  width: 100%;
  text-align: center;
}
.delay_setting_image {
  background-image: url("../images/delay.gif");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  width: 30%;
  height: 380px;
  float: left;
}
.delay_output {
  font-size: 18px;
}
.settings_help_video {
  vertical-align: middle;
  margin-left: 5px;
  font-size: 20px;
  /*display: none !important;*/
}
.colpick_hex_field input:focus, .colpick_hex_field input[type="text"]:focus {
  border-bottom: none !important;
}
.multi_block_select {
  height: 63px;
}


/* Package Management */
.package_table_panel {
  margin-left: 50px;
  width: 84%;
  box-shadow: 0 1px 3px rgba(0,0,0,0.05);background: #fff;border: 1px solid #E5E5E5;
}
.table_content {
  padding: 2%;
}
.package_table{
  width: 100% !important;
  float: left;
  font-size: 14px;
}
.package_table table.dataTable.no-footer {
  border-bottom: none !important;
}
.package_table thead th, .package_table thead td {
 border-bottom: 1px solid #ddd !important;
}
.package_table_panel .no-footer .package_table {
  border-bottom: 1px solid #ddd !important;
}
.package_table td:first-child {
  border-left: none !important;
}
.package_table td:last-child {
  border-right: none !important;
}

.package_wrapper {
 /* min-height: 580px;*/
}
.add_package_panel {
  width: 90.4%;
  background-color: #fff;
  border: 1px solid #E2E4E5;
  padding-bottom: 12px;
  position: relative;
  float: left;
}
.add_package_panel h5 {
  font-size: 14px;
  font-weight: 500;
}
.basic_information .int_field_left {
  width: 40%;
  margin-right: 5%;
}
.feature_group {
  width: 25%;
  float: left;
  min-height: 120px;
}
.previous, .next, .dataTables_empty{font-size: 14px;}
#chatbotadmin_info{font-size:13px;}

.add_package_action, .package_action {
  text-align: right;
  width: 100%;
  margin-bottom: 2%;
}
.package_action {
  text-align: left;
  margin-left: 3%;
}
.package_action a {
  font-size: 14px;
  color: #F7751F;
  outline: 0;
}
.package_action a:focus, .package_action a:active {
  outline: 0;
}
.trial_period_days {
  width: 88% !important;
}
.package_body {
  padding: 1% 2% 2%;
  min-height: 580px;
}
.feature_information .int_checkbox {
  padding: 0;
}
.feature_group_divider {
  float: left;
  width: 100%;
  margin-bottom: 1%;
}
.package_actions {
  float: left;
  text-align: center;
  margin: 3% 0 3%;
}
.package_header h6 {
  width: 50%;
  float: left;
}
.back_text {
  float: right;
  font-size: 13px;
  color: #F7751F;
  font-weight: 300;
  text-decoration: underline;
  margin-top: 5px;
  cursor: pointer;
}
.package_volume {
  width: 60% !important;
}
.month_interval_amount:disabled, .year_interval_amount:disabled {
  color: rgba(0,0,0,0.3) !important;
  font-weight: 500 !important;
}
.package_image {
  float: left;
  height: 80px;
}
.package_logo_default, .package_logo {
  cursor: pointer;
}
.trial_suffix {
  color: #9b9b9b !important;
}
.custom_overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  background: linear-gradient(to right, #000, #000);
  width: 100%;
  opacity: 0.8 ! important;
  z-index: 999;
  display: none;
}
.text-orange, .orange {
  color: #F7751F !important;
}
.text-white {
 color: #FFFFFF !important; 
}
.upgrade_image {
  width: 30%;
}
.font-15 {
  font-size: 14px;
}
.pro {
  font-size: 9px;
  color: #fff;
  background: #F7751F;
  padding: 5px;
  border-radius: 3px;
  top: 16px;
  left: -40px;
  position: relative;
}
.upgrade_package {
  margin-top: 5%;
}
.feature_group:last-child {
  width: 100%;
  min-height: 70px;
}

.year_plan_price {
  width: 30% !important;
  margin-right: 1% !important;
}
.edit_price_link {
  width: 10% !important;
  margin-top: 3%;
}
.edit_price_link .edit_plan_price {
  color: #F7751F;
  font-size: 13px;
}
.edit_price_apply_type {
  display: none;
}
.change_price_all_user {
  margin-top: 8px;
}
.change_price_all_user:focus {
  outline: none;
}
.edit_price_apply_type_info p {
  font-size: 13px;
}
/* Package Management */

 .useredit_body{ padding: 1% 2% 2%; }
 .listlabel{    
    font-size: 14px;
    font-weight: 500;
    color: #000;}
.succ_discount{font-size: 12px;color: #58b55c;}
.error_discount{font-size: 12px;color: #ff0000;}

 .insight{
  display: table;
  width: 100%;
  float:left;
}
.insightRow {
  display: table-row;
}
.insightHeading {
  background-color: #EEE;
  display: table-header-group;
}
.insightCell, .insightHead {
   display: table-cell;
  padding: 3px 10px;
  text-align: center;

  font-size: 15px;
    font-weight: 500;
}
.insightHeading {
   display: table-header-group;
  font-weight: bold;
}
.insightFoot {
   display: table-footer-group;
  font-weight: bold;
}
.insightBody {
  display: table-row-group;
}

 .exportexcel{
  font-size: 20px;
    color: #419e45;
    margin-right: 0;
    margin-left: 8px;
}
 .exportpdf{
  font-size: 20px;
    color: #e24343;
    margin-right: 8px;
    margin-left: 0;
}
.circle-multiline {
   height: 160px;
    width: 160px;
    margin: 15px;
    text-align: center;
    vertical-align: middle;
    border-radius: 50%;
    border: 9px solid #C64747;
    color: #000;
    float: left;
        font-size: 20px;
    font-weight: 400;
}

.circle-multiline-admin {
   height: 140px;
    width: 140px;
    margin: 9px;
    text-align: center;
    vertical-align: middle;
    border-radius: 50%;
    border: 9px solid #C64747;
    color: #000;
    font-size: 20px;
    float: left;
}
.bot_color{ border: 9px solid rgb(109, 186, 41); }.int_color{ border: 9px solid rgb(56, 145, 227); }.sub_color{border: 9px solid rgb(241, 131, 64);}.growth_color{border: 9px solid rgb(156, 106, 225);}.face_color{border: 9px solid rgb(41, 211, 108);}.broad_color{border: 9px solid rgb(50, 188, 172);}
.circle-none {
   height: 135px;
    width: 80px;
    margin: 9px;
    text-align: center;
    vertical-align: middle;
    float: left;
}
.rightchart_border{
  border-right: 1px solid rgba(0,0,0,.08);
}
.topborder{
     min-height: 134px;
    border-radius: 1px;
    background-color: #fff;
     border: 1px solid rgba(0,0,0,.08);
    padding: 24px 24px 22px !important;
     align-items: baseline;
    justify-content: space-between;
    position: relative;
    overflow: hidden;
    text-align: center;
    font-weight:bold;
    margin:9px 0;
 }

 .username_insight{text-align:center;}

 .heading_chart{/*float: left;*/
    margin-top: auto;
    padding-bottom: 16px;
    font-weight: 500;text-align: left}
.heading_chart.center{text-align: center}
.useredit_msgtitle{
    background-color: #fff;
    padding: 10px 20px;
    border-bottom: solid 1px #e0e0e0;
}
.useredit_msgtitle:after {
    clear: both;
    content: '';
    display: block;
}

#integration_list .int_genlinkWrap {float: left;
    width: 90%;
    border: none;
    padding: 0;
    margin: 20px 0 0;}
#integration_list .view_app_key {color: #F7751F;font-size:13px;margin-top:5px;}
#integration_list .app_key_cnt { width: 50%;}
#integration_list .copy_widget_key{margin-top: 3px;}
#package_table_wrapper table.dataTable thead th, table.dataTable thead td { text-transform: none; font-size: 14px; }
.p_small {font-size: 12px;}

/* NEW WEB INTEGRATION CHANGES */
.outline_bullet_orange,.solid_bullet_orange,.outline_bullet_grey{border:1px solid #F7751F;color:#F7751F;padding: 2px 0;display: inline-block;margin-right: 10px;vertical-align: middle;border-radius: 17px;width: 24px;height: 24px;text-align: center;font-size: 13px;}
.solid_green_success{background: #58b55c;color:#fff;font-size: 15px;padding: 4px 0;border:1px solid #58b55c;text-align: center;vertical-align: middle;display: inline-block;border-radius: 17px;width: 24px;height: 24px;}
.solid_bullet_orange{color:#fff;background: #F7751F;}
.outline_bullet_orange{color:#F7751F;border-color: #F7751F;}
.outline_bullet_grey{color:#868686;border-color:#b4b4b4;}
.web_int_headings_wrap:after{display: block;content: '';clear: both;}
.web_int_headings_wrap .web_int_headings{float:left;width:auto;}
.web_int_headings_wrap .int_btns_wrap{float:right;width:auto;}
.web_int_steps li{margin:10px 0 0;}
.web_int_steps_wrap{padding: 24px 10px;border-radius:3px;margin:20px 0;font-size: 14px;box-shadow:0 1px 3px rgba(0,0,0,0.05);background:#fff;border:1px solid #E5E5E5;}
.web_int_steps_wrap.web_int_default {padding: 24px 30px;}
.customize_step .web_int_steps_wrap{padding: 34px 25px;}
.customize_step .web_int_steps_wrap.web_int_code_sec{padding: 24px 25px 20px 25px;}
.web_int_steps_wrap.web_int_list{padding:18px 13px;}
.web_step_top_desc{padding-bottom: 10px}
.new_web_int_step{padding-left:40px;}
.preview_box_close a,.preview_header,.sender_msg,.int_bg_color{background:#5787eb;}
.customize_step_num{position: absolute;left: -42px;top: -10px;padding: 4px 0;font-size: 25px;color: #939393;}
.int_info_heading{position: relative;}
.int_genlinkWrap{display: block;}
.int_info_heading{margin-bottom: 15px;}
.generate_link,.generate_link:hover,.generate_link:focus,.generate_link:active{margin-top:15px;}
.generate_link_modal{max-width: 500px;font-size: 14px;}
#widget_code_model.generate_link_modal .modal-content .tabs{margin-top: 15px;}
#widget_code_model.generate_link_modal .modal-content .tabs .tab a{position: relative;overflow:visible;}
#widget_code_model.generate_link_modal .modal-content .tabs .tab .tooltipped{display: none}
#widget_code_model.generate_link_modal .modal-content .tabs .tab a.active .tooltipped{display:block;position: absolute;width: auto;top: 0;right: -20px;}
#widget_code_model.generate_link_modal .modal-content {padding: 15px;margin-top:5px;}
#widget_code_model .modal-header { padding-top: 0px !important;}
#widget_code_model {width:70% !important;}
#widget_code_model.modal {max-height:85%;}
#widget_code_model .tabs .tab a:hover{color: #F7751F;}
#widget_code_model .tabs .tab a {padding:0;text-align:left;color:#000;transition: none;font-weight:400;}
#widget_code_model .modal-content .tabs {background:none;margin:0 15px}
#widget_code_model .modal-content .tabs .tab{line-height:normal;height: 27px;padding-bottom:10px;margin-left: 0;}
#widget_code_model .modal-content .tabs {line-height:normal;height:auto;display: block; margin:0;}
#widget_code_model .tabs .tab a.active{font-weight:600;}
.genlink_tab_ctnt{margin-top: 15px ! important;}
#widget_code_model .tabs .tab a.active{font-weight: 500;}
.inner_copyscript{line-height: 1.5;}
.gen_modal_close{background: #fff;color: #000;font-size: 15px;top: 12px;right: 15px;position: absolute;}
.zapier_copy{top:17px;}
.noborder{border:0;}
.int_imgupload {padding: 5px 0 15px 0;}
.int_input_wrap,.int_colors_wrap{margin:20px 0;}
.int_img_preview>label,.int_img_preview{border-radius:5px;}
.web_int_back{float: right;  font-size: 14px;  display: inline-block;  margin-top: 6px;font-weight: 500}
.web_int_back .icon_previous_arrow{font-size: 13px;vertical-align: middle;display: inline-block;}
.web_int_options{float: right;margin-top:10px;font-size:20px;color: #979797;}
.web_int_options .delete_web_int,.web_int_options .edit_widget{display: inline-block;}
.new_webint_title{font-size:20px;}
/*.new_webint_title + .edit_acc_title{vertical-align: text-bottom;}*/
.edit_widget{margin-right: 10px}
.web_int_customize,.web_int_list,.preview_sec_wrap,.customize_step_head{display: none;}
.customize_step_head{margin-top: 10px;}
/*.web_int_headings_wrap,.customize_step_head{width:65%;}*/
.new_integration_action {position: absolute;top: -61px;right: 1px;width: auto;}
.logo_upload {display:none;}
.website_widget_panel .icon_previous_arrow:before {
    content: "\e137";
    margin-right: 2px;
    vertical-align: top;
    margin-top: -1px;
    float: left;
}
.widget_item_list div:last-child {
  border: none !important;
}
.website_widget_panel .platform_page {
  border-bottom: 1px dotted #E9E8E8;
}

.brand_place_group {
  border: 1px solid #dddddd;
  width: 40%;
  padding: 0% 2%;
  box-shadow: 0px 1px 15px 0px #dddddd;
  margin: 2% 3%;
  float: left;
}
.brand_actions {
  width: auto;
  float: right;
  text-align: right;
  vertical-align: top;
  margin: 0 0 0 1%;
}
.brand_actions .switch {
  margin-top: -5px;
}
.settings_panel .widget_item {
    margin-top: 1%;
    padding: 2% 0 3%;
}
div#brand_removal_form_preview {
    width: 57%;
    background: #FFFFFF;
    max-height: 82%;
    max-width: 550px;
}
div#brand_removal_form_preview .modal-content h1{
     margin-bottom: 15px;
    font-weight: 500;
}
.brand_help_description {
  font-size: 14px;
}
.brand_help_image img {
  width: 100%;
  max-width:550px;
  border: 1px solid #c2c2c2;
}
.brand_help_image {
  margin: 20px 0 0;
  display:block;
}
.brand_removal_form_preview .close_modal {
  margin-left: 40%;
}
.brand_header {
  text-transform: capitalize;
}
div#brand_removal_form_preview .modal-content .brand_header{font-weight:500;}
.brand_locked {
  color: #787878;
  font-size: 14px;
  font-weight: 300;
}
.brand_locked .icon_password {
  font-size: 20px;
  vertical-align: text-bottom;
}
span.removal_status {
  font-size: 14px;
  color: #616161;
  font-weight: 400;
  margin-right: 10px;
}

.global_loader_admin {
  font-size: 50px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999999;
  width:100%;
  height:100%;
  text-align:center;
  background:rgba(255,255,255,0.5);
}
.global_loader_admin .iconLoad{
  font-size: 50px;
  position: relative;
  top: 50%;
  left: 0;
  z-index: 999999;
}
.package_logo_default {
    padding: 10px 0px 0px 5px;
}

.add_menu_layer .menu_name::placeholder, .add_menu_layer .menu_action_url::placeholder, .add_menu_layer .fstQueryInput::placeholder {
  color: #d6d6d6;
}
.newbot_loader{text-align: center;margin-left: 79px; top: 62px;}

.template_createmodal .chat_boxmsgs{height: 420px;
    overflow-y: auto; overflow-x:hidden;}.verify_chat_bot_tray .nav_right {
    position: absolute;
    right: -24px !important;
    top: 130px;
    width: 50px;
    z-index: 999;
}
   
   .pie-legend ul {
      list-style: none;
      margin: 0;
      padding: 0;
  }

  .pie-legend li span {
        display: inline-block;
        width: 14px;
        height: 14px;
        border-radius: 100%;
        margin-right: 16px;
        margin-bottom: -2px;
    }

    .pie-legend li {
        margin-bottom: 10px;
        margin-right: 10px;
        font-size: 14px;
        text-align: left;
    }

  .table {
      border: 0px solid red;
      display: table;
      width: 100%;
      table-layout: fixed;
  }

  .cell {
      display: table-cell;
      vertical-align: middle;
  }
.admin_dt_search_box{position:relative;margin-top: -2px;}
.admin_dt_search_box input{padding-left:28px;}
.analytics_wheel_wrap{padding:10px 10px 25px;box-shadow: 0 1px 3px rgba(0,0,0,0.05);background: #fff;border: 1px solid #E5E5E5;}
.insightCell_wheel_count{display: block;text-align:center;vertical-align: middle;padding-top: 56px;font-size: 22px}
.circle-multiline-admin .insightCell_wheel_count{font-size: 22px;padding-top: 45px;}
.admin_back_view_wrap{position: absolute;top:19px;left:0;font-weight:400;}
.admin_back_view_wrap .back_arrow_icon{display: inline-block;vertical-align: middle;margin-right: 5px;color: #000;font-size: 12px;}
.admin_user_view_title_wrap{position: relative;}
.admin_back_view{color:#000;margin-top:0;float: none;font-weight:400;}
.admin_view_icon, .admin_table_edit_icon {font-size: 15px;display: inline-block;vertical-align: middle;color: #979797;margin: 2px 3px;}
.admin_view_icon:hover, .admin_table_edit_icon:hover{color:#000;}
.payment_report.admin_payment_report{margin-top:60px;}
.unmatched_report.admin_unmatched_report{margin-top:50px;}
/*.unmatched_report .broadcast_charts{box-shadow: 0 1px 3px rgba(0,0,0,0.05);background: #fff;border: 1px solid #E5E5E5;padding: 24px 24px 22px !important;}*/
p.admin_range_amount {font-size: 20px;margin: 0;font-weight: 500;}
span.admin_range_date {font-size: 14px;display: block;}
.solid_button_orange.save_package,.solid_button_orange.save_package:hover, .solid_button_orange.save_package:active, .solid_button_orange.save_package:focus{margin-left:10px;}




/*alert common button changes*/
.sweet-alert button {
  font-size: 14px;
  padding: 8px 17px;
  font-weight: 400 !important;
  box-shadow: none !important;
}
.sweet-alert button.cancel {
  background-color: #ffffff;
  color: #2b2a25;
  border: 1px solid #c8c8c8;
}
.sweet-alert button.cancel:hover {
  background-color: #ffffff;
  color: #2b2a25;
}
.preview_msg_wrap {
  height: 215px;
  overflow: auto;
}
.user_form_preview .receiver_msg {
  max-width: 250px;
  padding: 0;
}
.profile_form {
  width: 90%;
  margin: 4px auto;
}
.profile_form input.username, .profile_form input.email {
  background: #ffffff;
  font-size: 12px;
  border: none;
  padding: 0 8px;
  border-radius: 5px;
  margin-bottom: 10px;
  height: 30px;
  width: 95%;
}
.profile_form input.username:focus, .profile_form input.email:focus {
  border-bottom: none !important;
}
.submit_form_preview {
  background: #ffffff;
  width: 100%;
  padding: 10px 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  color: #0099ff;
}
.submit_form_preview:hover {
  color: #0099ff;
}
.form_help_text {
  float: left;
  margin: 10px;
}
.COD_sel_box{padding: 6px 0;border-bottom: 1px solid #c2c2c2;}
.COD_sel_box .select2-container {width: 93% ! important;}
.COD_top_row{padding: 15px 0}
.COD_panel{width:100%;float: none;clear: both}
.COD_wrap{margin:0 auto;max-width: 920px;}
.COD_panel .package_header{padding:10px 42px;}
.COD_panel .package_header h6{font-weight: 500}
.COD_back .back_text{color: #000;margin-top: 2px;}
.COD_back .back_arrow_icon{font-size: 13px;vertical-align: middle;display: inline-block;}
.COD_back{float: right;margin: 20px 0;}
.COD_top_row .extend_trial {position: relative;z-index: 9;}
.COD_top_row .extend_trial + .calendar_icon {top: 7px;}
.icon_visual_steps.module_icon{font-size: 17px;color: #f7751f;}
.skype_desc_heading{margin:0 0 25px;font-size:14px;}
.skype_widget_wrap .customize_step_num{top:-5px;}
.skype_req_url_head{font-size: 14px;margin:0 0 10px;}
.skype_widget_wrap .script_cnt .copy{top: 15px;}
.skype_widget_wrap form label{color: #000;font-weight: 500;font-size: 14px;padding-bottom: 7px;display: block;}
.skype_widget_wrap .script_cnt,.skype_widget_wrap .int_info_heading{margin-bottom: 7px}
.skype_widget_wrap .int_info_heading a.ms_bot_framework,.skype_widget_wrap .int_info_heading a.ms_bot_framework:hover,.skype_widget_wrap .int_info_heading a.ms_bot_framework:focus,.skype_widget_wrap .int_info_heading a.ms_bot_framework:active,.skype_widget_wrap .int_info_heading a.ms_bot_framework:visited{color: #F7751F;text-decoration: underline;}
.skype_int_btn{text-align: right}
.skype_int_wrap{display: none;padding: 15px 25px;border-top: 1px solid #e9e8e8;}
.skype_widget_wrap .web_int_steps_wrap{padding:0}
.skype_widget_wrap .platform_page{border-bottom: 0;padding:16px 25px;}
#skype_widget_form{padding: 10px 0 10px}
.skype_widget_wrap .platform_page_title_wrap{cursor: pointer}
.skype_widget_wrap .solid_button_grey[disabled],.skype_widget_wrap .solid_button_grey[disabled]:hover{opacity:0.5;color: #696969;background: #D3D3D3;}
.skype_widget_wrap .acc_icons{color: #12a5f4;font-size: 35px;}
.skype_widget_wrap .platform_page_status{min-height: 35px;}
.skype_form_fields input {border: 1px solid #c2c2c2 !important;padding: 5px;height: 40px;}
.skype_form_fields input:focus, .skype_form_fields input:active {border: 1px solid #000 ! important;}
.widget_form_preview1{max-height:100% !important;max-width:100% !important;background: #fff}
.widget_form_preview1_pop{max-height:100% !important;max-width:100% !important;background: #fff;width:70% !important}
/*#widget_skype_help1.modal,#widget_skype_help2.modal,#widget_skype_help3.modal,#widget_skype_help4.modal,#widget_skype_help1.modal .modal-content,#widget_skype_help2.modal .modal-content,#widget_skype_help3.modal .modal-content,#widget_skype_help4.modal .modal-content{background: #fff;}
#widget_skype_help1.modal,#widget_skype_help2.modal,#widget_skype_help3.modal,#widget_skype_help4.modal{text-align: center;width: 515px;height: auto;overflow: hidden;}
#widget_skype_help1 .user_form_help_image,#widget_skype_help2 .user_form_help_image,#widget_skype_help3 .user_form_help_image,#widget_skype_help4 .user_form_help_image{display: block;}
#widget_skype_help1 .user_form_help_image img,#widget_skype_help2 .user_form_help_image img,#widget_skype_help3 .user_form_help_image img,#widget_skype_help4 .user_form_help_image img{max-width: 100%}*/
.skype_bullet{width: 7px;height: 7px;border: 1px solid #353750;display: block;position: absolute;left: -19px;top: 6px;background: #353750;border-radius: 10px;}
.skype_int_inner_wrap{padding-left:20px;}
#skype_sucessintegration .mdl_heading{margin-left:15px;margin-right:15px;}
.suc_int_modal{max-width: 800px}
.suc_int_modal .mdl_heading,.suc_int_modal .fgtclose{color: #fff;}
.suc_int_modal .mdl_heading{margin: 0 auto 25px ! important;max-width: 320px;font-size: 18px;}
.suc_int_modal .modal-content{padding: 0}
.suc_int_modal_header{padding: 24px 24px 15px;background: #3f74f0;background: -moz-linear-gradient(-45deg, #3f74f0 0%, #0ae791 100%);background: -webkit-linear-gradient(-45deg, #3f74f0 0%,#0ae791 100%);background: linear-gradient(135deg, #3f74f0 0%,#0ae791 100%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3f74f0', endColorstr='#0ae791',GradientType=1 );background-size: cover;}
.suc_int_modal_body{padding: 0 24px 24px;}
.suc_int_ctnt_blocks{display: flex;display: -webkit-flex;justify-content: space-around;}
.suc_int_ctnt_blocks .loadmdl_ctnt{margin: 5px 15px 10px ! important;font-size: 13px}
.suc_int_ctnt_blocks .user_form_help_image{margin: 30px auto 10px auto;}
.suc_int_ctnt_block{position: relative;padding-bottom: 65px;padding-top: 20px}
.suc_int_ctnt_block .fblinkcls_modal{position: absolute;bottom: 0;width: 100%;text-align: center;margin:0 ! important;}
.suc_int_ctnt_block .fblinkcls_modal .outline_button_grey,.suc_int_ctnt_block .fblinkcls_modal .solid_button_blue{padding: 10px 12px ! important;height:38px;box-shadow:0 2px 3px 0 rgba(0,0,0,0.08);margin: 10px 0 ! important;font-size: 13px;}
.suc_int_ctnt_block .fblinkcls_modal .solid_button_blue#skype_ms_app_id{background: #00AFF0;border: 1px solid #00AFF0;}
.break_sentence{display: block;}
/*.suc_int_modal .user_form_help_image {
    width: 288px;
    height: 98px;
  margin: 2% auto;
  background: url('../images/fb_spritesheet.png') left center;
  animation: play .8s steps(32) infinite;
}
@keyframes play {
    100% { background-position: -8928px; }
}*/
/* Telegram */

.telegram_desc_heading{margin:0 0 25px;font-size:14px;}
.telegram_widget_wrap .customize_step_num{top:-5px;}
.telegram_req_url_head{font-size: 14px;margin:0 0 10px;}
.telegram_widget_wrap .script_cnt .copy{top: 15px;}
.telegram_widget_wrap form label{color: #000;font-weight: 500;font-size: 14px;padding-bottom: 7px;display: block;}
.telegram_widget_wrap .script_cnt,.telegram_widget_wrap .int_info_heading{margin-bottom: 7px}
.telegram_widget_wrap .int_info_heading a.ms_bot_framework,.telegram_widget_wrap .int_info_heading a.ms_bot_framework:hover,.telegram_widget_wrap .int_info_heading a.ms_bot_framework:focus,.telegram_widget_wrap .int_info_heading a.ms_bot_framework:active,.telegram_widget_wrap .int_info_heading a.ms_bot_framework:visited{color: #F7751F;text-decoration: underline;}
.telegram_int_btn{text-align: right}
.telegram_int_wrap{display: none;padding: 15px 25px;border-top: 1px solid #e9e8e8;}
.telegram_widget_wrap .web_int_steps_wrap{padding:0}
.telegram_widget_wrap .platform_page{border-bottom: 0;padding:16px 25px;}
#telegram_widget_form{padding: 10px 0 10px}
.telegram_widget_wrap .platform_page_title_wrap{cursor: pointer}
.telegram_widget_wrap .solid_button_grey[disabled],.telegram_widget_wrap .solid_button_grey[disabled]:hover{opacity:0.5;color: #696969;background: #D3D3D3;}
.telegram_widget_wrap .acc_icons{color: #12a5f4;font-size: 35px;}
.telegram_widget_wrap .platform_page_status{min-height: 35px;}
.telegram_form_fields input {border: 1px solid #c2c2c2 !important;padding: 5px;height: 40px;}
.telegram_form_fields input:focus, .telegram_form_fields input:active {border: 1px solid #000 ! important;}


.telegram_bullet{width: 7px;height: 7px;border: 1px solid #353750;display: block;position: absolute;left: -19px;top: 6px;background: #353750;border-radius: 10px;}
.telegram_int_inner_wrap{padding-left:20px;}
#telegram_sucessintegration .mdl_heading{margin-left:15px;margin-right:15px;}
.int_telegram_icon{color: #0088cc;}
.suc_int_ctnt_block .fblinkcls_modal .solid_button_blue#telegram_ms_app_id{background: #00AFF0;border: 1px solid #00AFF0;}
/* -- customize -- */
.m_7 { margin: 7px }

.txt_orange { color: #F7751F !important; }
.arrow_bounce img { width: auto; }
.gender_select_drop .fstResultsFilpped input.fstQueryInput { display: none; }
.subscriber_tag_delete { color: #979797;  }
