/* gulp css */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/************************************** custom style starts *********************************************/
/* custom margin */

/* custom margin ends */
/* custom padding */

/* End custom padding */
/* custom width */
.w-100 {
	width: 100%;
}
/* End custom width */
/* color */
.text-red {
	color: #c00a27;
}
/* End color*/
/* helper class */
.t-under {
	text-decoration: underline;
}
a {
	outline: none;
}

/* gulp btn */
.btn.btn-gulp {
    color: #fff;
    background-color: #c00a27;
	border-color: #c41733;
	padding: 10px 20px;
}
.btn.btn-gulp:hover,.btn.btn-gulp:focus {
	color: #c00a27;
	border-color: #c41733;
	background: #fff;
}
.btn.btn-gulp-bd {
	color: #c00a27;
	border-color: #c41733;
	background: #fff;
	padding: 10px 20px;
}
.btn.btn-gulp-bd:hover,.btn.btn-gulp-bd:focus {
	color: #fff;
	border-color: #c41733;
	background: #c00a27;
}
/* end gulp */
.navbar.navbar-default .gulp-create-acc > a {
    background: #c00a27;
	color: #fff;
	border-radius: 3px;
	border: 1px solid #c00a27;
	padding: 12px 25px;
	-webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}
.navbar.navbar-default .gulp-login > a:hover,
.navbar.navbar-default .gulp-login > a:focus {
	background: #c00a27;
	border: 1px solid #c00a27;
	color: #fff;
}
.navbar.navbar-default .gulp-create-acc > a:hover,
.navbar.navbar-default .gulp-create-acc > a:focus {
	background: #fff;
	border: 1px solid #c00a27;
	color: #c00a27;
}
.navbar.navbar-default .gulp-login a {
    border: 1px solid #c00a27;
	color: #c00a27;
	padding: 12px 25px;
	border-radius: 3px;
	-webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}
.sign-block {
	padding: 15px 0;
}
.gulp-login {
	margin-right: 15px;
}
.banner-section {
   position: relative;
}
.btn.btn-fb {
	width: 100%;
	background: #3b5998;
	color: #fff;
	padding: 12px;
	position: relative;
}
.btn.btn-fb:hover, .btn.btn-fb:focus {
	background: #3b5998;
	color: #fff;
}
.facebook {
    margin: 10px 0 0 0;
}
.btn.btn-fb .fa-facebook {
    position: absolute;
    left: 20px;
    top: 16px;
}
.or p {
    color: #999;
    font-size: 11px;
    position: relative;
}
.or {
    margin: 30px 0 15px 0;
}
.or p::before {
    content: "";
    position: absolute;
    width: 30%;
    height: 0.7px;
    background: #ccc;
    left: 15%;
    top: 6px;
}
.or p::after {
    content: "";
    position: absolute;
    width: 30%;
    height: 0.7px;
    background: #ccc;
    right: 15%;
    top: 6px;
}
.sign-footer a {
    color: #000;
    text-decoration: underline;
}
.sign-footer {
    color: #000;
    font-size: 11px;
	text-align: center;
	margin-top: 30px;
}
.sign-in {
	width: 48%;
	margin-right: 10px;
}
.sign-up {
    width: 48%;
}
.sign-blk {
    margin: 10px 0 0 0;
}
.already {
	margin: 15px 0 0 0;
	font-size: 13px;
}
#gulp-sign-up .modal-body, #gulp-login .modal-body {
    padding: 25px;
}
.navbar-header {
    width: 20%;
}
.search-location {
    width: 60%;
	float: left;
	padding: 15px 0;
}
.cart-bag a {
	background: url(../img/shop_bag.png) no-repeat center center/ 60%;
	width: 40px;
    height: 40px;
}
.gulp-account span img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    border: 1px solid #ccc;
}
.nav.head-account-block a {
    padding: 0;
    height: 40px;
    display: inline-block;
}
.search-location .form-group {
    margin: 0;
}
.head-account-block li:last-child {
    padding-right: 0;
}
.head-account-block li {
    padding: 19px 19px 19px 0px;
}
.gulp-search-btn .btn.btn-gulp {
    padding: 12px 20px;
}
.gulp-account span {
    margin: 1px 10px 0 0;
    display: inline-block;
}
.head-account-block .gulp-account a {
	font-size: 15px;
}
.count {
    position: absolute;
    top: 0px;
    background: #c00a27;
    color: #fff;
    font-size: 13px;
    border-radius: 50%;
    right: -7px;
    width: 26px;
    height: 26px;
    line-height: 27px;
    text-align: center;
}
.search-location [class^="col-sm-"] {
    padding: 0 5px;
}
#listing-slider {
    background: #27282f;
}
#listing-slider .carousel-inner {
    width: 90%;
	margin: 0 auto;
	padding: 30px 0;
}
#listing-slider .thumbnail {
    margin-bottom: 0;
    border: none;
    padding: 0;
}
#listing-slider .thumbnail::before {
    background: #000;
    position: absolute;
    width: calc(100% - 30px);
    height: 100%;
    content: "";
    opacity: 0.4;
}
#listing-slider .food-desc {
    position: absolute;
	bottom: 10px;
	width: calc(100% - 30px);
}
.food-desc h3 {
    color: #fff;
	text-transform: uppercase;
	padding: 0 15px;
	line-height: 32px;
}
.food-desc p {
	color: #fff;
	padding: 0 15px;
}
#listing-slider .carousel-control {
    width: 5%;
}
#listing-slider .glyphicon-chevron-left:before {
	content: "";
    background: url(../img/left.png) no-repeat center center;
    width: 30px;
    height: 30px;
    position: absolute;
}
#listing-slider .glyphicon-chevron-right:before {
	content: "";
    background: url(../img/right.png) no-repeat center center;
    width: 30px;
    height: 30px;
    position: absolute;
}
#listing-slider .carousel-control .icon-next, #listing-slider .carousel-control .glyphicon-chevron-right {
    right: 90%;
}
.home-banner-desc {
    position: absolute;
    top: 30%;
    width: 100%;
    text-align: center;
}
.home-banner-desc h2 {
    color: #fff;
    margin: 0 0 40px 0;
    font-weight: 400;
    font-size: 44px;
}
.home-banner-form {
    width: 62%;
    margin: 0 auto;
    overflow: hidden;
}
#search-food {
    height: 76px;
    font-size: 20px;
    padding: 15px 20px 15px 45px;
}
.home-banner-form .btn.search-food-btn {
    height: 76px;
    padding: 15px;
    width: 100%;
    font-size: 18px;
    color: #fff;
    background: #c00a27;
    border: 1px solid #c00a27;
}
.home-banner-form .btn.search-food-btn:focus, .home-banner-form .btn.search-food-btn:hover {
    background: #fff;
    color: #c00a27;
    border: 1px solid #c00a27;
}
.home-banner-desc .search-food {
    padding: 0 0 0 20px;
    width: 20%;
}
.home-banner-desc .search-food-in {
    padding: 0;
    width: 80%;
    position: relative;
}
.locate-me {
    position: absolute;
    top: 30%;
    right: 3%;
}
.locate-me > a, .locate-me > a:focus, .locate-me > a:hover {
    color: #000;
    position: relative;
    text-decoration: none;
}
.locate-me > a:before {
	content: "";
    background: url(../img/target.png) no-repeat center center / 80%;
    width: 30px;
    height: 30px;
    position: absolute;
    left: -32px;
    top: -7px;
}
.home-banner-desc .search-food-in:before {
	content: "";
    background: url(../img/search.png) no-repeat center center / 58%;
    width: 30px;
    height: 30px;
    position: absolute;
    left: 12px;
    top: 24%;
}
.how-to-order p {
    color: #5d5d5d;
    font-size: 16px;
}
.steps {
    margin: 50px 0 0 0;
    border-bottom: 1px solid #d4d4d4;
    padding: 0 0 50px 0;
}
.how-to-order {
    padding: 30px 0 50px;
}
/* testimonial styles */
#fade-quote-carousel.carousel {
  padding-bottom: 40px;
}
#fade-quote-carousel.carousel .carousel-inner .item {
  opacity: 0;
  -webkit-transition-property: opacity;
      -ms-transition-property: opacity;
          transition-property: opacity;
}
#fade-quote-carousel.carousel .carousel-inner .active {
  opacity: 1;
  -webkit-transition-property: opacity;
      -ms-transition-property: opacity;
          transition-property: opacity;
}
#fade-quote-carousel.carousel .carousel-indicators {
  bottom: 10px;
}
#fade-quote-carousel.carousel .carousel-indicators > li {
  background-color: #e84a64;
  border: none;
}
#fade-quote-carousel blockquote {
    text-align: center;
    border: none;
}
#fade-quote-carousel .profile-circle {
    width: 80px;
    height: 80px;
    margin: 0 auto;
    border-radius: 50%;
}
#fade-quote-carousel .profile-circle img {
    border-radius: 50%;
}
.quote {
    color: rgba(0,0,0,.1);
    text-align: center;
    margin-bottom: 30px;
    margin-top: 30px;
}
.profile-name {
    text-align: center;
    text-transform: uppercase;
    margin: 20px 0 5px 0;
    font-weight: 600;
}
.profile-desc {
    color:#aaaaaa;
    font-size: 13px;
    text-align: center;
}
/* End testimonial styles */
.feature-rest {
    background: #f4f7f9;
    padding: 30px 0;
}
.feature-rest p {
    color: #5d5d5d;
    font-size: 16px;
}
.media-carousel 
{
  margin-bottom: 0;
  padding: 0 40px 30px 40px;
  margin-top: 30px;
}
#media .carousel-control {
    width: 6%;
}
#media .left {
    background: url(../img/blog-slider/right.png) no-repeat top 40% center/ 80%;
}
#media .right {
    background: url(../img/blog-slider/left.png) no-repeat top 40% center/ 80%;
}
.bs-desc-blk {
    background: #fff;
    padding: 15px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}
.bs-img {
    width: 100%;
    height: 180px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.bs-img img {
    width: 100%;
    height: 100%;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.bs-desc-blk p {
    color: #5d5d5d;
    font-size: 14px;
    margin: 0 0 20px 0;
}
.bs-rd-more {
    color: #ce3e55;
    text-decoration: none;
    display: inline-block;
    margin: 0 0 10px 0;
}
.bs-container {
    padding: 0 20px;
}
/* end custom styles */